
<div class="col-12">
  <h2 style="font-family: 'Times New Roman', Times, serif;color: #0f2a9e;text-align: center;justify-content: center;font-size: 24px;margin: 0px;">Parametrages des Sites </h2>
</div>
<div class="col-12">

    <nb-card>
  
      <nb-tabset>
        <nb-tab tabTitle="Site">
  
          <ng2-smart-table [settings]="settingsSite" [source]="sourceSite" (create)="create(addSite)" (delete)="OnDeleteConfirm($event)" (edit)="modifier($event)" >
  
          </ng2-smart-table>
  
        </nb-tab>
        <nb-tab tabTitle="Unité Opérationnelle">
  
          <ng2-smart-table [settings]="settingsUo" [source]="sourceUO" (create)="createUO(addUO)" (delete)="OnDeleteUnite($event)" (edit)="modifierUO($event)" >
  
          </ng2-smart-table>
  
        </nb-tab>
  
        <nb-tab tabTitle="Activité">
  
          <ng2-smart-table [settings]="settingsActivite" [source]="sourceActivite" (create)="createAct(addAct)"  (delete)="OnDeleteAct($event)" (edit)="modifierAct($event)">
  
          </ng2-smart-table>
  
        </nb-tab>
  
        <nb-tab tabTitle="Atelier" >
  
          <ng2-smart-table [settings]="settingsAtelier" [source]="sourceAtelier" (create)="createAt(addAt)" (delete)="OnDeleteAt($event)" (edit)="modifierAt($event)">
          
          </ng2-smart-table>
  
         
  
        </nb-tab>
     
      </nb-tabset>
    
    </nb-card>
    <!-- <ng-template #addSite let-data let-ref="dialogRef">

      <nb-card class="col-12 " style="width: 800px;">
  
        <nb-card-header>Ajouter Nouveau site </nb-card-header>
  
        <nb-card-body>
          <div class="row">
             <div class="form-group row col-12">
  
              <label for="nouveauSalaire" class="label col-4 col-form-label"> Image : </label>
              <div class="col-sm-6">
                    <div class="change-btn d-flex align-items-center flex-wrap">
                      <input id="file" #fileInput accept="image/*" class="input-file" type="file" (change)="handleInputChange(fileInput)">
                    </div>
              </div>
  
            </div> 
  
           <div class="form-group row col-12">
  
              <label for="nouveauSalaire" class="label col-4 col-form-label"> Réference :  <span style="color: red;">*</span> </label>
  
              <div class="col-sm-6">
  
                <input type="text" class="form-control col-sm-12" required fullWidth id="reference"
  
                  [ngModel]="site1.ref" (ngModelChange)="site1.ref= $event" #reference="ngModel"
  
                  name="reference"
  
                  [ngClass]="{'alert alert-danger':reference.invalid && (reference.dirty || reference.touched)}">
  
              </div>
  
            </div>
  
   
  
            <div class="form-group row col-12">
  
              <label for="nouveauSalaire" class="label col-4 col-form-label">Nom :  <span style="color: red;">*</span></label>
  
              <div class="col-sm-6">
  
                <input type="text" class="form-control col-sm-12" required fullWidth id="nom" [ngModel]="site1.nom"
  
                  (ngModelChange)="site1.nom= $event" #nom="ngModel" name="nom"
  
                  [ngClass]="{'alert alert-danger':nom.invalid && (nom.dirty || nom.touched)}">
  
              </div>
  
            </div>
  
    
            <div class="form-group row col-12">
  
              <label for="nouveauSalaire" class="label col-4 col-form-label"> Designation :  <span style="color: red;">*</span> </label>
  
              <div class="col-sm-6">
  
                <textarea type="number" class="form-control col-sm-12" required fullWidth id="designation" [ngModel]="site1.designation"
  
                  (ngModelChange)="site1.designation= $event" #designation="ngModel" name="designation"
  
                  [ngClass]="{'alert alert-danger':designation.invalid && (designation.dirty || designation.touched)}"></textarea>
  
              </div>
  
            </div> 
          </div>
  
   
  
        </nb-card-body>
  
   
  
        <nb-card-footer>
  
          <button nbButton (click)="ref.close()" class=" float-right btn btn-danger "  style="background-color: crimson;color: aliceblue;">Fermer</button>
  
          <button nbButton (click)="SaveSite(ref)" class=" float-right btn btn-success mr-1"
  
            style="background-color: green;color: aliceblue;">Enregistrer</button>
  
   
  
        </nb-card-footer>
  
      </nb-card>
  
    </ng-template> -->

    <ng-template #addSite let-data let-ref="dialogRef">

      <nb-card class="col-12 " style="width: 800px;">
  
    
          <nb-card-header>Ajouter Une Nouveau Site </nb-card-header>
    
          <nb-card-body>
            <div class="row">
              <div class="col-sm-12" >
                <div class="form-group">
                  <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Image :</label>
                
                  <input id="file"  nbInput fullWidth shape="semi-round"status="info"   #fileInput accept="image/*" class="input-file" type="file" (change)="handleInputChange(fileInput)">
        
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Nom :</label>
                  <input type="text" nbInput fullWidth shape="semi-round"status="info" placeholder="Entrer le nom du Site"  id="nom" [ngModel]="site1.nom"
  
                  (ngModelChange)="site1.nom= $event" #nom="ngModel" name="nom"
  
                  [ngClass]="{'alert alert-danger':nom.invalid && (nom.dirty || nom.touched)}">
             </div>
              </div>
            
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Référence : </label>
                  <input type="text" nbInput fullWidth placeholder="Entrer la refernece du Site" shape="semi-round"status="info" id="reference"
  
                  [ngModel]="site1.ref" (ngModelChange)="site1.ref= $event" #reference="ngModel"
  
                  name="reference"
  
                  [ngClass]="{'alert alert-danger':reference.invalid && (reference.dirty || reference.touched)}">
                </div>
              </div>
            
            </div>
            
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Désignation :</label>
                  <textarea type="text" nbInput fullWidth placeholder="Entrer la description du site" shape="semi-round"status="info"  id="designation" [ngModel]="site1.designation"
  
                  (ngModelChange)="site1.designation= $event" #designation="ngModel" name="designation"
  
                  [ngClass]="{'alert alert-danger':designation.invalid && (designation.dirty || designation.touched)}"></textarea>
                </div>
              </div>
            </div>
   
            <div class="text-center" >
              <button nbButton status="danger" hero style="margin-bottom: 10px;" (click)="ref.close()" >Annuler</button>
             <button nbButton status="success" hero style="margin-bottom: 10px;; margin-left: 10px;" (click)="SaveSite(ref)" >Enregistrer</button>
           </div>
          </nb-card-body>
        </nb-card>
    
      </ng-template>


     <ng-template #addUO let-data let-ref="dialogRef">

      <nb-card class="col-12 " style="width: 800px;">
  
    
          <nb-card-header>Ajouter Une Nouvelle Unité Opérationnelle </nb-card-header>
    
          <nb-card-body>
            <div class="row">
              <div class="col-sm-12" >
                <div class="form-group">
                  <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Image :</label>
                
                  <input id="file"  nbInput fullWidth shape="semi-round"status="info"   #fileInput accept="image/*" class="input-file" type="file" (change)="handleInputChange(fileInput)">
        
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Nom :</label>
                  <input type="text" nbInput fullWidth shape="semi-round"status="info" placeholder="Entrer le nom de l'unité" id="nom" [ngModel]="unite1.nom"
  
                  (ngModelChange)="unite1.nom= $event" #nom="ngModel" name="nom"
  
                  [ngClass]="{'alert alert-danger':nom.invalid && (nom.dirty || nom.touched)}">
             </div>
              </div>
            
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Référence : </label>
                  <input type="text" nbInput fullWidth placeholder="Entrer la refernece de l'unité " shape="semi-round"status="info"   id="reference"
  
                  [ngModel]="unite1.ref" (ngModelChange)="unite1.ref= $event" #reference="ngModel"
  
                  name="reference"
  
                  [ngClass]="{'alert alert-danger':reference.invalid && (reference.dirty || reference.touched)}">
                </div>
              </div>
            
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Site :</label>
                <nb-select class="type-select" fullWidth shape="semi-round" status="info" id="uo" [(ngModel)]="selectedSite" #uo="ngModel" name="uo"
                [ngClass]="{'alert alert-danger': uo.invalid && (uo.dirty || uo.touched)}">>
                <nb-option disabled selected hidden>Sélectionnez un Site </nb-option>
                
                <nb-option *ngFor="let site of listeSite" [value]="site.id">
                  {{ site.ref }} - {{ site.nom }}
                </nb-option>
              </nb-select>
              
             </div>
              </div>  
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Désignation :</label>
                  <textarea type="text" nbInput fullWidth placeholder="Entrer la description de l'unité " shape="semi-round"status="info"  id="designation" [ngModel]="unite1.designation"
  
                  (ngModelChange)="unite1.designation= $event" #designation="ngModel" name="designation"
  
                  [ngClass]="{'alert alert-danger':designation.invalid && (designation.dirty || designation.touched)}"></textarea>
                </div>
              </div>
            </div>
   
            <div class="text-center" >
              <button nbButton status="danger" hero style="margin-bottom: 10px;" (click)="ref.close()" >Annuler</button>
             <button nbButton status="success" hero style="margin-bottom: 10px;; margin-left: 10px;" (click)="SaveUO(ref)" >Enregistrer</button>
           </div>
          </nb-card-body>
        </nb-card>
    
      </ng-template>

    <ng-template #addAct let-data let-ref="dialogRef">

      <nb-card class="col-12 " style="width: 800px;">
  
    
          <nb-card-header>Ajouter Une Nouvelle Activité </nb-card-header>
    
          <nb-card-body>
            <div class="row">
              <div class="col-sm-12" >
                <div class="form-group">
                  <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Image :</label>
                
                  <input id="file"  nbInput fullWidth shape="semi-round"status="info"   #fileInput accept="image/*" class="input-file" type="file" (change)="handleInputChange(fileInput)">
        
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Nom :</label>
                  <input type="text" nbInput fullWidth shape="semi-round"status="info"placeholder="Entrer le nom de l'activité"  id="nom" [ngModel]="activite1.nom"
  
                  (ngModelChange)="activite1.nom= $event" #nom="ngModel" name="nom"
  
                  [ngClass]="{'alert alert-danger':nom.invalid && (nom.dirty || nom.touched)}">
             </div>
              </div>
            
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Référence : </label>
                  <input type="text" nbInput fullWidth placeholder="Entrer la refernce de l'activité" shape="semi-round"status="info"  id="reference"
  
                  [ngModel]="activite1.ref" (ngModelChange)="activite1.ref= $event" #reference="ngModel"
  
                  name="reference"
  
                  [ngClass]="{'alert alert-danger':reference.invalid && (reference.dirty || reference.touched)}">
                </div>
              </div>
            
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Unité :</label>
                <nb-select class="type-select" fullWidth shape="semi-round" status="info" id="uo" [(ngModel)]="selectedUnite" #uo="ngModel" name="uo"
                [ngClass]="{'alert alert-danger': uo.invalid && (uo.dirty || uo.touched)}">
                <nb-option disabled selected hidden>Sélectionnez une Unité Operationnelle </nb-option>
                
                <nb-option *ngFor="let uo of listeUnite"  [value]="uo.id">
                  {{ uo.ref }} - {{ uo.nom }}
                </nb-option>
              </nb-select>
             </div>
              </div>  
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Désignation :</label>
                  <textarea type="text" nbInput fullWidth placeholder="Entrer la description de l'activité" shape="semi-round"status="info"  id="designation" [ngModel]="activite1.designation"
  
                  (ngModelChange)="activite1.designation= $event" #designation="ngModel" name="designation"
  
                  [ngClass]="{'alert alert-danger':designation.invalid && (designation.dirty || designation.touched)}"></textarea>
                </div>
              </div>
            </div>
   
            <div class="text-center" >
              <button nbButton status="danger" hero style="margin-bottom: 10px;" (click)="ref.close()" >Annuler</button>
             <button nbButton status="success" hero style="margin-bottom: 10px;; margin-left: 10px;" (click)="SaveAct(ref)" >Enregistrer</button>
           </div>
          </nb-card-body>
        </nb-card>
    
      </ng-template>

     <ng-template #addAt let-data let-ref="dialogRef">

      <nb-card class="col-12 " style="width: 800px;">
  
    
          <nb-card-header>Ajouter Une Nouvelle Atelier </nb-card-header>
    
          <nb-card-body>
            <div class="row">
              <div class="col-sm-12" >
                <div class="form-group">
                  <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Image :</label>
                
                  <input id="file"  nbInput fullWidth shape="semi-round"status="info"   #fileInput accept="image/*" class="input-file" type="file" (change)="handleInputChange(fileInput)">
        
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Nom :</label>
                  <input type="text" nbInput fullWidth shape="semi-round"status="info"placeholder="Entrer le nom de l'atelier"  id="nom" [ngModel]="atelier1.nom"
  
                  (ngModelChange)="atelier1.nom= $event" #nom="ngModel" name="nom"
  
                  [ngClass]="{'alert alert-danger':nom.invalid && (nom.dirty || nom.touched)}">
             </div>
              </div>
            
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Référence : </label>
                  <input type="text" nbInput fullWidth placeholder="Entrer la reference de l'atelier" shape="semi-round"status="info" id="reference"
  
                  [ngModel]="atelier1.ref" (ngModelChange)="atelier1.ref= $event" #reference="ngModel"
  
                  name="reference"
  
                  [ngClass]="{'alert alert-danger':reference.invalid && (reference.dirty || reference.touched)}">
                </div>
              </div>
            
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Unité :</label>
                <nb-select class="type-select" fullWidth shape="semi-round" status="info" id="unite" [(ngModel)]="selectedUn" (ngModelChange)="loadActivites()" #unite="ngModel" name="unite"
                [ngClass]="{'alert alert-danger': unite.invalid && (unite.dirty || unite.touched)}">
                <nb-option disabled selected hidden>Sélectionnez une Unité Operationnelle </nb-option>
                
                <nb-option *ngFor="let unite of listeUnite" [value]="unite.id">
                  {{ unite.ref }} - {{ unite.nom }}
                </nb-option>
              </nb-select>
             </div>
              </div>
            
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Activité : </label>
                  <nb-select  class="type-select" fullWidth shape="semi-round" status="info" id="acti" [(ngModel)]="selectedActivite" #acti="ngModel" name="acti"
                  [ngClass]="{'alert alert-danger': acti.invalid && (acti.dirty || acti.touched)}">
                  <nb-option disabled selected hidden>Sélectionnez une activité </nb-option>
                  
                  <nb-option *ngFor="let act of listeAct" [value]="act.id">
                    {{ act.ref }} - {{ act.nom }}
                  </nb-option>
                </nb-select>
                </div>
              </div>
            
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Désignation :</label>
                  <textarea type="text" nbInput fullWidth placeholder="Entrer la description de l'atelier" shape="semi-round"status="info" id="designation" [ngModel]="atelier1.designation"
  
                  (ngModelChange)="atelier1.designation= $event" #designation="ngModel" name="designation"
  
                  [ngClass]="{'alert alert-danger':designation.invalid && (designation.dirty || designation.touched)}"></textarea>
                </div>
              </div>
            </div>
   
            <div class="text-center" >
              <button nbButton status="danger" hero style="margin-bottom: 10px;" (click)="ref.close()" >Annuler</button>
             <button nbButton status="success" hero style="margin-bottom: 10px;; margin-left: 10px;" (click)="SaveAt(ref)" >Enregistrer</button>
           </div>
          </nb-card-body>
        </nb-card>
    
      </ng-template>

    <ng-template #dialogEdit let-data let-ref="dialogRef">

      <nb-card class="col-12 " style="width: 800px;">
  
    
          <nb-card-header>Mise à Jours du Corrdonnées d'un SITE  </nb-card-header>
    
          <nb-card-body>
            <div class="row">
              <div class="col-sm-12" >
                <div class="form-group">
                  <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Image :</label>
                
                  <input id="file"  nbInput fullWidth shape="semi-round"status="info"   #fileInput accept="image/*" class="input-file" type="file" (change)="handleInputChange(fileInput)">
        
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Référence : </label>
                  <input type="text" nbInput fullWidth placeholder="Entrer le prenom du collaborateur" shape="semi-round"status="info" id="reference"
  
                  [ngModel]="site.ref" (ngModelChange)="site.ref= $event" #reference="ngModel"
  
                  name="reference"
  
                  [ngClass]="{'alert alert-danger':reference.invalid && (reference.dirty || reference.touched)}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Nom :</label>
                  <input type="text" nbInput fullWidth shape="semi-round"status="info" id="nom" [ngModel]="site.nom"
  
                  (ngModelChange)="site.nom= $event" #nom="ngModel" name="nom"
  
                  [ngClass]="{'alert alert-danger':nom.invalid && (nom.dirty || nom.touched)}">
             </div>
              </div>
            
             
            
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Désignation :</label>
                  <textarea type="text" nbInput fullWidth placeholder="Entrer la matricule du collaborateur" shape="semi-round"status="info"id="designation" [ngModel]="site.designation"
  
                  (ngModelChange)="site.designation= $event" #designation="ngModel" name="designation"
  
                  [ngClass]="{'alert alert-danger':designation.invalid && (designation.dirty || designation.touched)}"></textarea>
                </div>
              </div>
            </div>
   
            <div class="text-center" >
              <button nbButton status="danger" hero style="margin-bottom: 10px;" (click)="ref.close()" >Annuler</button>
             <button nbButton status="success" hero style="margin-bottom: 10px;; margin-left: 10px;" (click)="modifierSite(ref)">Modifier</button>
           </div>
          </nb-card-body>
        </nb-card>
    
      </ng-template>

    <ng-template #dialogEditUnite let-data let-ref="dialogRef">

      <nb-card class="col-12 " style="width: 800px;">
  
    
          <nb-card-header>Mise à Jours du Corrdonnées d'une Unité Opérationnelle </nb-card-header>
    
          <nb-card-body>
            <div class="row">
              <div class="col-sm-12" >
                <div class="form-group">
                  <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Image :</label>
                
                  <input id="file"  nbInput fullWidth shape="semi-round"status="info"   #fileInput accept="image/*" class="input-file" type="file" (change)="handleInputChange(fileInput)">
        
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Référence : </label>
                  <input type="text" nbInput fullWidth placeholder="Entrer le prenom du collaborateur" shape="semi-round"status="info" id="reference"
  
                  [ngModel]="unite.ref" (ngModelChange)="unite.ref= $event" #reference="ngModel"
  
                  name="reference"
  
                  [ngClass]="{'alert alert-danger':reference.invalid && (reference.dirty || reference.touched)}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Nom :</label>
                  <input type="text" nbInput fullWidth shape="semi-round"status="info" id="nom" [ngModel]="unite.nom"
  
                  (ngModelChange)="unite.nom= $event" #nom="ngModel" name="nom"
  
                  [ngClass]="{'alert alert-danger':nom.invalid && (nom.dirty || nom.touched)}">
             </div>
              </div>
            
             
            
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Désignation :</label>
                  <textarea type="text" nbInput fullWidth placeholder="Entrer la matricule du collaborateur" shape="semi-round"status="info"id="designation" [ngModel]="unite.designation"
  
                  (ngModelChange)="unite.designation= $event" #designation="ngModel" name="designation"
  
                  [ngClass]="{'alert alert-danger':designation.invalid && (designation.dirty || designation.touched)}"></textarea>
                </div>
              </div>
            </div>
   
            <div class="text-center" >
              <button nbButton status="danger" hero style="margin-bottom: 10px;" (click)="ref.close()" >Annuler</button>
             <button nbButton status="success" hero style="margin-bottom: 10px;; margin-left: 10px;" (click)="modifierUnite(ref)">Modifier</button>
           </div>
          </nb-card-body>
        </nb-card>
    
      </ng-template>

    <ng-template #dialogActivite let-data let-ref="dialogRef">

      <nb-card class="col-12 " style="width: 800px;">
  
    
          <nb-card-header>Mise à Jours du Corrdonnées d'une Activité </nb-card-header>
    
          <nb-card-body>
            <div class="row">
              <div class="col-sm-12" >
                <div class="form-group">
                  <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Image :</label>
                
                  <input id="file"  nbInput fullWidth shape="semi-round"status="info"   #fileInput accept="image/*" class="input-file" type="file" (change)="handleInputChange(fileInput)">
        
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Référence : </label>
                  <input type="text" nbInput fullWidth placeholder="Entrer le prenom du collaborateur" shape="semi-round"status="info" id="reference"
  
                  [ngModel]="activite.ref" (ngModelChange)="activite.ref= $event" #reference="ngModel"
  
                  name="reference"
  
                  [ngClass]="{'alert alert-danger':reference.invalid && (reference.dirty || reference.touched)}">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Nom :</label>
                  <input type="text" nbInput fullWidth shape="semi-round"status="info" id="nom" [ngModel]="activite.nom"
  
                  (ngModelChange)="activite.nom= $event" #nom="ngModel" name="nom"
  
                  [ngClass]="{'alert alert-danger':nom.invalid && (nom.dirty || nom.touched)}">
             </div>
              </div>
            
             
            
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Désignation :</label>
                  <textarea type="text" nbInput fullWidth placeholder="Entrer la matricule du collaborateur" shape="semi-round"status="info"id="designation" [ngModel]="activite.designation"
  
                  (ngModelChange)="activite.designation= $event" #designation="ngModel" name="designation"
  
                  [ngClass]="{'alert alert-danger':designation.invalid && (designation.dirty || designation.touched)}"></textarea>
                </div>
              </div>
            </div>
   
            <div class="text-center" >
              <button nbButton status="danger" hero style="margin-bottom: 10px;" (click)="ref.close()" >Annuler</button>
             <button nbButton status="success" hero style="margin-bottom: 10px;; margin-left: 10px;" (click)="modifierActivite(ref)">Modifier</button>
           </div>
          </nb-card-body>
        </nb-card>
    
      </ng-template>

    <ng-template #dialogAtelier let-data let-ref="dialogRef">

      <nb-card class="col-12 " style="width: 800px;">
  
    
          <nb-card-header>Mise à Jours du Corrdonnées d'une Atelier </nb-card-header>
    
          <nb-card-body>
            <div class="row">
              <div class="col-sm-12" >
                <div class="form-group">
                  <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Image :</label>
                
                  <input id="file"  nbInput fullWidth shape="semi-round"status="info"   #fileInput accept="image/*" class="input-file" type="file" (change)="handleInputChange(fileInput)">
        
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                <label for="inputWebsite" class="label" style="color: black;margin-left: 5px;">Nom :</label>
                  <input type="text" nbInput fullWidth shape="semi-round"status="info" id="nom" [ngModel]="atelier.nom"
  
                  (ngModelChange)="atelier.nom= $event" #nom="ngModel" name="nom"
  
                  [ngClass]="{'alert alert-danger':nom.invalid && (nom.dirty || nom.touched)}">
             </div>
              </div>
            
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Référence : </label>
                  <input type="text" nbInput fullWidth placeholder="Entrer le prenom du collaborateur" shape="semi-round"status="info" id="reference"
  
                  [ngModel]="atelier.ref" (ngModelChange)="atelier.ref= $event" #reference="ngModel"
  
                  name="reference"
  
                  [ngClass]="{'alert alert-danger':reference.invalid && (reference.dirty || reference.touched)}">
                </div>
              </div>
            
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="inputLastName" class="label" style="color: black;">Désignation :</label>
                  <textarea type="text" nbInput fullWidth placeholder="Entrer la matricule du collaborateur" shape="semi-round"status="info" id="designation" [ngModel]="atelier.designation"
  
                  (ngModelChange)="atelier.designation= $event" #designation="ngModel" name="designation"
  
                  [ngClass]="{'alert alert-danger':designation.invalid && (designation.dirty || designation.touched)}"></textarea>
                </div>
              </div>
            </div>
   
            <div class="text-center" >
              <button nbButton status="danger" hero style="margin-bottom: 10px;" (click)="ref.close()" >Annuler</button>
             <button nbButton status="success" hero style="margin-bottom: 10px;; margin-left: 10px;" (click)="modifierAtelier(ref)" >Modifier</button>
           </div>
          </nb-card-body>
        </nb-card>
    
      </ng-template>

  </div>

