<nb-card *ngIf="userConnecte=='MOD'">
  <!-- <nb-card-header>Toggle Accordion By Button</nb-card-header> -->
  <nb-card-body style="display: flex;align-items: center;justify-content: center; gap: 20px;">
    <button nbButton status="success" hero (click)="toggleCC()" ><i class="fas fa-plus" style="font-size: 10px; color: rgb(255, 255, 255);margin-right: 5px;"></i>Lancer Remplissage</button>
  </nb-card-body>
</nb-card>
<nb-card style="margin-bottom: 20px;"   *ngIf="showFunctionInput">
  <nb-card-header>
    Voici la liste Des Procédés Spéciaux :
  </nb-card-header>
  <nb-card-body>
    <div class="row"  style="text-align: center;justify-content: center;">
      <div class="col-md-4" *ngFor="let pro of listeProcedefinal">
        <nb-card style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
          <nb-card-header class="d-flex align-items-center" style="font-family: 'Times New Roman', Times, serif;color: #0f2a9e;">
            <!-- <img src="{{imageUrl}}" alt="Image" style="height: 150px; width: 300px;" *ngIf="hasImageToDisplay(pro.id)">  -->
            <img src="assets/images/parametrage.jpg" alt="Image" style="height: 80px; width: 80px; border-radius: 50%;object-fit: cover; margin-right:10px;"(click)="detail(dialogDetail,pro.id)"> 
            {{pro.nom}}
          </nb-card-header>
        </nb-card>
      </div>
   
    </div>
  </nb-card-body>
</nb-card>
<ng-template #dialogDetail let-data let-ref="dialogRef" >
  <nb-card class="col-md-12"  style="width: 900px;" >
    <nb-card-body>
      <nb-tabset fullWidth> 
        <nb-tab tabTitle="Cartes De Controles">
          <h4 style="text-align: center;color: rgb(23, 9, 176);"> Les Listes des cartes de Controle</h4>
          <nb-card>
             <nb-card-body>

              <ng2-smart-table [settings]="SettingsCarte" [source]="sourceCarte" (edit)="RemplirMesure($event)" ></ng2-smart-table>
            </nb-card-body> 
          </nb-card>
         
        </nb-tab>
     
      <nb-tab tabTitle="Check-list 'OK DEMMARAGE'">
          <h4 style="text-align: center;color: rgb(23, 9, 176);"> Les Liste des Check-List "OK DEMMARAGE"</h4>
     
          <nb-card>
            <nb-card-body>
              <ng2-smart-table [settings]="SettingsOKD" [source]="sourceOKD" (edit)="RemplirMesureOKD($event)"  ></ng2-smart-table>
            
           </nb-card-body> 
         </nb-card>       
      </nb-tab>
      
    </nb-tabset>
    </nb-card-body>
  </nb-card>

</ng-template>
<ng-template #dialogEdit let-data let-ref="dialogRef">
 
  <nb-card class="col-md-12" style="width: 900px;">
    <div style="max-height: 600px; overflow-y: auto;">
    <nb-card-body>
     
      <h4 style="text-align: center; color: rgb(23, 9, 176);"> Ajouter Une Nouvelle Mesure</h4>
      <div class="row" style="display: flex; justify-content:center; align-items: center">
        <div class="col-sm-3">
          <div class="form-group">
            <label class="label" style="color: black;"> Fréquence <span style="color: red;">*</span></label>
            <input type="text"  nbInput fullWidth  shape="semi-round"status="info"  required fullWidth id="motif_saisie"  placeholder="Sélectionnez La Fréquence du remplissage" 
                [ngModel]="newMesure.motif_saisie" (ngModelChange)="newMesure.motif_saisie= $event" #motif_saisie="ngModel"
                name="motif_saisie"
                [ngClass]="{'alert alert-danger':motif_saisie.invalid && (motif_saisie.dirty || motif_saisie.touched)}">
          </div>
        </div>
        <div class="col-sm-3"  *ngIf="carte.fonction != null">
          <div class="form-group">
            <label class="label" style="color: black;"> Fonction <span style="color: red;">*</span></label>
            <input type="text"  nbInput fullWidth  shape="semi-round"status="info"  required fullWidth id="fonction" 
                [ngModel]="carte.fonction" name="fonction" readonly>
          </div>
        </div>
        
        <div class="col-sm-3" *ngFor="let nb of inputValues; let i = index">
          <div class="form-group" >
            <label class="label" style="color: black;"> Mesure {{i+1}} <span style="color: red;">*</span></label>
            <input type="number"   nbInput fullWidth shape="semi-round" status="info" [(ngModel)]="newMesure.val[i]"name="val{{i}}" placeholder="Valeur de la mesure {{i + 1}}">
          </div>
        </div>    
      </div>
      <div class="row" *ngIf="carte.fonction != null">
        <button type="submit" nbButton status="warning" hero style="margin: 20px;" (click)="CalculeMesure(ref)">Calculer</button>
        <div class="col-sm-8">
          <div class="form-group">
            <label class="label" style="color: black;">Résultat :  <span style="color: red;">*</span></label>
            <input type="text" nbInput fullWidth shape="semi-round" status="info" placeholder="Résultat Obtenu ..." [(ngModel)]="newMesure.resultat" name="resultat" readonly>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-5 col-sm-7">
          <button type="submit" nbButton status="danger" hero style="margin: 20px;" (click)="ref.close()">Annuler</button>
          <button type="submit" nbButton status="success" hero style="margin: 20px;"  (click)="SaveMesure(ref)" >Enregistrer</button>
        </div>
      </div>
   
    </nb-card-body>
    <nb-card>
      <nb-card-body>
        <ngx-charts-line-chart
              [view]="view"
              [scheme]="colorScheme"
              [results]="chartData1"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="showLegend"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              xAxisLabel="Date"
              yAxisLabel="Value">
         </ngx-charts-line-chart>
    </nb-card-body>
    </nb-card>
  </div>
  </nb-card>
</ng-template>

<ng-template #dialogEditOKD let-data let-ref="dialogRef">
  <nb-card class="col-md-12" style="width: 900px;">
    <nb-card-body>
      <h4 style="text-align: center; color: rgb(23, 9, 176);"> Ajouter Une Mesure "OK DEMARRAGE" </h4>
      <div class="row" style="display: flex; justify-content:center; align-items: center">
        <div class="col-sm-6" >
          <div class="form-group">
            <label class="label" style="color: black;">Equipe : <span style="color: red;">*</span></label>
            <nb-select class="type-select" fullWidth shape="semi-round" status="info"placeholder="Selectionner une valeur" [(ngModel)]="newMesureOKD.equipe" name="newMesureOKD.equipe" required placeholder="choisissez une equipe  ">
              <nb-option value="M">M</nb-option>
              <nb-option value="C">C</nb-option>
              <nb-option value="S">S</nb-option>
              <nb-option value="N">N</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-sm-6" >
          <div class="form-group">
            <label class="label" style="color: black;"> Evenement : <span style="color: red;">*</span></label>
            <nb-select class="type-select" fullWidth shape="semi-round" status="info"placeholder="Selectionner une valeur" [(ngModel)]="newMesureOKD.evenement" name="newMesureOKD.evenement" required placeholder="choisissez un évenement  ">
              <nb-option value="D">D</nb-option>
              <nb-option value="CHM">CHM</nb-option>
              <nb-option value="IM">IM</nb-option>
              <nb-option value="CC">CC</nb-option>
             
            </nb-select>
          </div>
      
        </div>
      </div>
      <div class="row" style="display: flex; justify-content:center; align-items: center">
      <div class="col-sm-3" *ngFor="let critere of listeCritere; let i = index ">
        <div class="form-group" *ngIf="critere.type === 'ok/nok'">
          <label class="label" style="color: black;"> {{ critere.nom }} <span style="color: red;">*</span></label>
          <nb-select class="type-select" fullWidth shape="semi-round" status="info"placeholder="Selectionner une valeur" [(ngModel)]="newMesureOKD.val[i]" name="val{{i}}" required>
            <nb-option value="ok">ok</nb-option>
            <nb-option value="nok">nok</nb-option>
          </nb-select>
        </div>
        <div class="form-group" *ngIf="critere.type === 'valeur'">
          <label class="label" style="color: black;"> {{ critere.nom }} <span style="color: red;">*</span></label>
          <input type="number" nbInput fullWidth shape="semi-round" status="info" placeholder="Entrer une valeur" [(ngModel)]="newMesureOKD.val[i]" name="val{{i}}" >
        </div>
      </div>
    </div>
      <div class="form-group row">
        <div class="offset-sm-5 col-sm-7">
          <button type="submit" nbButton status="danger" hero style="margin: 20px;" (click)="ref.close()">Annuler</button>
          <button type="submit" nbButton status="success" hero style="margin: 20px;" (click)="saveMesureOKD(ref)" >Enregistrer</button>
        </div>
      </div>
   
    </nb-card-body>
  </nb-card>
</ng-template>

<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div>
