<ngx-show-data ></ngx-show-data>

<div>
  <!-- <div class="row">
    <div class="col-6 d-flex" >
      <i class="fa-solid fa-location-dot" style="margin-right: 3px;font-size: 25px;"></i>
      <select class="select-Label"  placeholder="Sélectionnez un Site" id="site" [(ngModel)]="selectedSite"  (ngModelChange)="loadUnite()" #site="ngModel" name="site">
        <option [ngValue]="null">Sélectionnez un Site</option>
        <option *ngFor="let site of listeSite" [ngValue]="site.id">{{ site.nom }}</option>
      </select>
    </div>
  
    <div class="col-6  d-flex">
     <i class="fa-solid fa-gears" style="margin-right: 3px;font-size: 25px;"></i>
      <select class="select-Label" id="unite" [(ngModel)]="selectedUnite" (ngModelChange)="loadProcedes()" #unite="ngModel" name="unite">
        <option [ngValue]="null">Sélectionnez Une Unité Opérationnel</option>
        <option *ngFor="let unite of listeUnit" [ngValue]="unite.id">{{ unite.ref }} ~ {{ unite.nom }}</option>
      </select>
    </div>
  </div> -->


  <!-- affichage data  -->
  <div class="row">
    <div class="col-12">
      <ngx-performance-ps></ngx-performance-ps>
    </div>
    <div class="col-12">
      <ngx-performance-nc></ngx-performance-nc>
    </div>
  
  </div>
  
  
  
  
  <div class="row">
    <div class="col-12">
      <ngx-performance-op></ngx-performance-op>
    </div>
  </div>
</div>

