<nb-card *ngIf="!carte1.fonction" style="flex-direction: row;justify-content: space-around;padding: 4px;
overflow-x: auto;">
    <chart type="line" [data]="chartData1" [options]="options" class="custom-chart"></chart>
   <chart type="line" [data]="chartDataDiff" [options]="diffOptions" class="custom-chart"></chart>
  </nb-card>

  <nb-card *ngIf="carte1.fonction" style="flex-direction: row;justify-content: space-around;padding: 4px;
  overflow-x: auto;">
    <chart type="line" [data]="chartDataRes" [options]="options" class="custom-chart"></chart>
    <chart type="line" [data]="chartDataDiffRES" [options]="diffOptions" class="custom-chart"></chart>
  </nb-card>