<div class="contenaire">
    <div class="wrapper">
      <div class="title">
          <img src="../../../assets/images/logo2.svg" width="45%" style="margin:10px">
          <div >Se Connecter</div>
       </div>
          <form method="post" [formGroup]="loginFormateurForm" (ngsubmit)=" loginFormateur()">
            <div class="field">
               <input type="text" name="username" id="username" value="" formControlName="matricule"  class="form-control" required>
               <label>Matricule</label> 
            </div>
            <div *ngIf="matricule?.touched && matricule?.invalid">
               <small class="text-danger" *ngIf="matricule?.errors?.['required']" style="color: rgb(100, 10, 10);">Matricule
                  est obligatoire</small>
            </div>


            <div class="field">
               <input type="password" name="password" id="password" formControlName="mdp" required>
               <label>Mot De Passe</label>
            </div>
            <div *ngIf="mdp?.touched && mdp?.invalid">
               <small class="text-danger" *ngIf="mdp?.errors?.['required']" style="color: rgb(100, 10, 10);">Mot de passe
                  est obligatoire</small>

            </div>

            <div class="field">
               <input type="submit" value="Se Connecter" (click)=" loginFormateur()"
                  [disabled]="!loginFormateurForm.valid" class="button border fw margin-top-10" name="Se Connecter ">
            </div>
          
         </form> 
        
         <a  class="see-more-link" (click)='navigateToHome()'>Se Connecter en tant que Visiteur </a>
      </div>
      </div>



